# node & bower
bower_components
node_modules
package-lock.json

# dotenv
.env

# txt
*.txt
.Grunt*
**/**/assets
**/**/food.xml
**/**/config.xml
**/**/access.xml
**/**/admin/src/Controller/*.*
**/**/admin/src/View/*.*
**/**/admin/services/*.*
**/**/admin/src/Controller/**/*.*
**/**/admin/src/View/**/*.*
**/**/admin/services/**/*.*
**/**/admin/tmpl/**/*.*

# test or temp
test
test*
test.*
tests
temp

**/**/assets
**/**/icons-full
**/**/viewer

# SublimeText workspace file
*.sublime-workspace

# zip
*.zip

# htaccess php
component*/**/.htaccess.*.*
docs/**/*.json
docs/**/*.zip
docs/*.xml

!docs/*.html
!docs/**/*.js
!docs/**/*.css
!docs/**/*.svg
!docs/**/.ignore
