# node & bower
bower_components
node_modules
package-lock.json

# dotenv
.env

# txt
*.txt
.Grunt*
**/**/assets
**/**/food.xml
**/**/config.xml
**/**/access.xml

# test or temp
test
test*
test.*
tests
temp
src/temp
**/**/assets
**/**/icons-full
**/**/viewer

# SublimeText workspace file
*.sublime-workspace

# zip
*.zip

component-3x/com_food/admin/models/.htaccess.dev.php
component-3x/com_food/admin/models/.htaccess.old.php

component-5x/com_food/admin/htaccess/.htaccess.dev.php
component-5x/com_food/admin/htaccess/.htaccess.old.php
