# node & bower
bower_components
node_modules
package-lock.json

# dotenv
.env

# test or temp
test
test*
test.*
tests
temp

# SublimeText workspace file
*.sublime-workspace

# zip
*.zip

# htaccess php
component*/**/.htaccess.*.*
docs/**/*.json
docs/**/*.zip
docs/*.xml

# txt
*.txt
.Grunt*

**/**/assets
**/**/icons-full
**/**/viewer
**/**/food.xml
**/**/config.xml
**/**/access.xml
**/**/admin/assets/*.*
**/**/admin/services/*.*
**/**/admin/languages
**/**/admin/lib
**/**/admin/src/Controller/*.*
**/**/admin/src/View/*.*
**/**/admin/services/*.*
**/**/admin/src/Controller/**/*.*
**/**/admin/src/View/**/*.*
**/**/admin/services/**/*.*
**/**/admin/tmpl/**/*.*

docs/*
!docs/*.html
!docs/**/*.js
!docs/**/*.css
!docs/**/*.svg
!docs/**/.ignore
!docs/**/assets
docs/**/assets/**/*.css

!component-3x/com_food/admin/
!component-3x/com_food/admin/.htaccess
!component-3x/com_food/admin/food.php
!component-3x/com_food/admin/controllers
!component-3x/com_food/admin/controllers/*.*
!component-3x/com_food/admin/controllers/**/*.*
!component-3x/com_food/admin/helpers
!component-3x/com_food/admin/helpers/*.*
!component-3x/com_food/admin/helpers/**/*.*
!component-3x/com_food/admin/models
!component-3x/com_food/admin/models/*.*
!component-3x/com_food/admin/models/**/*.*
!component-3x/com_food/admin/views
!component-3x/com_food/admin/views/*.*
!component-3x/com_food/admin/views/**/*.*

component-3x/com_food/admin/models/**/*.dev.php
component-3x/com_food/admin/models/**/*.old.php

component-[^3]x/com_food/admin/htaccess
component-[^3]x/com_food/admin/services
component-[^3]x/com_food/admin/src
component-[^3]x/com_food/admin/tmpl

# !component-[4-6]x/com_food/admin/src
# component-[4-6]x/com_food/admin/src/*
# !component-[4-6]x/com_food/admin/src/Lib

# !component-3x/com_food/admin
# component-3x/com_food/admin/*
# !component-3x/com_food/admin/lib
