<?xml version="1.0" encoding="utf-8"?>
<config>
	<help key="Food:_Options"/>
	<inlinehelp button="hide"/>
	<fieldset name="component" label="COM_FOOD_OPTIONS" description="COM_FOOD_OPTIONS_DESC">
		<field name="food_folders" type="text" default="" class="" label="COM_FOOD_OPTIONS_FOLDER" description="COM_FOOD_OPTIONS_FOLDER_DESC"></field>
		<field name="food_auto_delete" type="list" default="1" class="" label="COM_FOOD_AUTO_DELETE" description="COM_FOOD_AUTO_DELETE">
			<option value="0">COM_FOOD_NO</option>
			<option value="1">COM_FOOD_YES</option>
		</field>
		<field name="food_auto_year" type="list" default="5" class="" label="COM_FOOD_AUTO_YEAR" description="COM_FOOD_AUTO_YEAR_DESC">
			<option value="1">1 года</option>
			<option value="2">2 лет</option>
			<option value="3">3 лет</option>
			<option value="4">4 лет</option>
			<option value="5">5 лет</option>
		</field>
	</fieldset>
</config>
