:root {
	--link-select-color: #efefef;
	--link-select-color-hover: #ffffff;
}

html {
	font-size: inherit;
	-webkit-tap-highlight-color: transparent;
}

// Select, Input search
select,
[type=search] {
	&.form-control {
		appearance: auto;
	}
}

h1,
h2,
h3,
h4 {
	font-weight: 400 !important;
	code {
		font-size: inherit;
	}
}

[class^="food-icon"],
[class*=" food-icon"] {
	line-height: 1;
}

.btn {
	flex: 0 1 auto;
	&,
	&.focus {
		&,
		&:focus {
			outline: 0px none -webkit-focus-ring-color !important;
			outline-offset: 0 !important;
		}
	}
	&-default,
	&-primary,
	&-info,
	&-success,
	&-danger,
	&-warning {
		background-image: unset !important;
	}
	&-success {
		background-color: var(--success, #457d54);
		&:hover {
			background-color: var(--successhvr, #2a4c33);
		}
	}
	&-default {
		&:active {
			background-color: var(--white-offset, #fefefe);
			&:focus {
			}
		}
	}
}


.table tbody a:not(.badge):not(.btn):not(.dropdown-item) {
	&::before {
		display: none;
	}
}

button.dt-dragdrop-block {
	flex: 1;
	width: 100%;
	background-image: unset !important;
	flex-direction: column !important;
	align-items: center !important;
	justify-content: center !important;
	gap: 0 !important;
	&:focus,
	&:active,
	&:hover {
		background-color: #fff !important;
	}
	&.btn {
		&.drophandle {
			outline-offset: -2px !important;
			outline-style: auto !important;
			outline-width: 5px !important;
		}
	}

	&::before {
		content: attr(data-title-before);
		white-space: break-spaces;
	}
	&[data-title-after] {
		&::after {
			content: attr(data-title-after);
			color: var(--success, #457d54);
		}
	}
}

div.dt-button-collection {
	padding-top: 10px;
	padding-bottom: 10px;
	.dropdown-menu {
		position: relative;
		float: unset;
		margin-top: inherit;
		li > a {
			display: block;
			padding: 10px 20px;
			clear: both;
			font-weight: 400;
			line-height: @line-height-base;
			color: @dropdown-link-color;
			white-space: nowrap;
			&:hover,
			&:focus {
				color: @dropdown-link-hover-color;
				text-decoration: none;
				background-color: @dropdown-link-hover-bg;
			}
		}
	}
	div[role="menu"] {
		.btn {
			position: relative;
			width: 100% !important;
			justify-content: flex-start !important;
			border-radius: 0px;
			background-color: transparent;
			border-color: transparent;
			appearance: none;
			box-shadow: unset;
			&:hover {
				background-color: #e0e0e0;
			}
			&.active,
			&:active {
				box-shadow: unset;
				border-color: transparent;
			}
		}
	}
}

.caret {
	display: none !important;
}

// Form Upload
form[name="upload"] {
	.clearfix();
	display: block;
	.text-right();
	input[type="file"] {
		display: none;
	}
	#p_uploads {
		margin-top: 15px;
		margin-bottom: 15px;
		padding-left: 14px;
		padding-right: 14px;
		background-image: unset;
		background-color: var(--info-bg-subtle, #d4e1f1);
		code {
			display: block;
			font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
			color: inherit;
			background-color: transparent;
		}
		&::before {
			content: attr(data-before-title);
			font-weight: 700;
		}
		&:empty {
			&,
			&::before {
				display: none;
			}
		}
	}
}

.dt-layout-cell.dt-layout{
	&-full {
		padding-left: unset !important;
		padding-right: unset !important;
	}
	&-start,
	&-end {
		&.col-sm-6 {
			&:first-child {
				padding-left: unset;
			}
			&:last-child {
				padding-right: unset;
			}
			
		}
	}
}

.dt-layout-table + .dt-layout-row {
	padding-top: 10px;
	@media screen and (max-width: 767px) {
		padding-top: unset;
	}
}

.dt-buttons {
	&.btn-group {
		gap: 10px;
		// Drag And Drop
		.dt-dragdrop-block {
			flex: 1 0 auto !important;
			width: 100% !important;
			min-height: 80px;
			background-image: unset;
		}
		.btn {
			width: auto;
			height: auto;
			margin-right: inherit;
			line-height: inherit;
		}
	}
}

#joomla3 {
	.container-fluid {
		padding-right: 20px;
		padding-left: 30px;
	}
	.dt-buttons {
		&.btn-group {
			gap: 10px;
			// Drag And Drop
			.dt-dragdrop-block {
				flex: 1 0 auto;
				width: 100%;
				min-height: 5.4em;
				background-image: unset;
			}
		}
	}
}

#content .pagination {
	margin: 0;
}

// Buttons Page Length and Column Visible
button.btn.buttons-page-length,
button.btn.buttons-colvis {
	&::after {
		content: "▼";
		flex: 1 0 auto;
		text-align: right;
	}
	&.dt-button-active-a {
		&::after {
			display: none;
		}
	}
	.caret {
		display: none;
	}
}
div.dt-button-collection .dt-button-active:after {
	font-weight: 700;
}
// Container Buttons
div.dt-container {
	&.form-inline {
		margin-top: 2em;
	}
	div.dt-layout {
		&-row {
			display: flex;
			justify-content: space-between;
			&:first-child {
				margin-bottom: 10px !important;
				align-items: flex-start !important;
			}
			&:nth-child(1),
			&:nth-child(3) {
				margin-left: -15px;
				margin-right: -15px;
				margin-top: 0;
				padding-top: 0;
			}
			&:nth-child(3) {
				justify-content: flex-start;
				align-items: flex-start;
			}
			@media screen and (max-width: 991px) {
				gap: 10px;
			}
			&:nth-child(3) {
				div.dt-layout-cell {
					&.dt-layout-end {
						flex-direction: column;
						align-items: end;
					}
				}
			}
		}
		&-cell {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 10px;
			flex-wrap: wrap;
		}
		&-start {
			justify-content: flex-start;
			flex-direction: column;
			>:not(:last-child) {
				margin-right: inherit !important;
				flex: 1 0 auto;
				width: 100%;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
			}
			.dt-search {
				flex: 1 0 auto;
				width: 100%;
				input {
					margin-left: inherit;
					width: 100%;
					height: auto !important;
					font-size: 1.1em;
				}
			}
			.dt-length,
			.dt-search {
				display: inline-flex;
				justify-content: flex-start;
				align-items: center;
				gap: 10px;
				flex-direction: row;
				margin-bottom: 5px;
				&,
				* {
					font-weight: 400;
				}
			}
		}
		&-end {
			justify-content: flex-end;
			margin-left: auto;
			.dt-buttons {
				display: flex;
				gap: 10px;
				flex-wrap: wrap;
				width: 100%;
				justify-content: flex-end;
				align-items: flex-end;
			}
		}
	}
}

.food {
	&-table {
		.btn {
			font-weight: normal;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			gap: .5em;
			justify-content: center;
			text-align: center;
			align-items: center;
			* {
				margin: unset;
			}
			&-group {
				font-size: inherit;
				> .btn {
					flex: 0 1 auto;
				}
			}
			.caret {
				margin-left: inherit;
				text-align: right;
				flex: 1 0 auto;
				margin-top: unset;
				margin-bottom: unset;
				~ .caret {
					display: none;
				}
			}
			// Buttons Excel, PDF
			&.buttons {
				&-excel,
				&-pdf {
					&::before {
						//.glyphicon();
						position: relative;
						display: inline-block;
					}
					*,
					&:before {
						pointer-events: none;
					}
				}
				&-print {
					flex: 0 1 auto;
				}
				&-colvis {
					flex: 1 0 auto;
				}
			}
			.caret {
				display: inline;
				width: auto;
				height: auto;
				vertical-align: unset;
				border-top: unset;
				border-right: unset;
				border-left: unset;
			}
			&-block {
				padding: 4px 12px;
			}
		}
		.table {
			td,
			th {
				white-space: nowrap;
				vertical-align: middle;
				font-size: 1rem;
				@media (max-width: 680px) {
					white-space: normal;
				}
			}
			> tbody {
				td {
					font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
					.flex {
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						gap: 10px;
						span {
							display: none;
						}
					}
					.btn {
						font-weight: normal;
					}
				}
				> tr {
					> td {
						a {
							&:not(.badge):not(.btn):not(.dropdown-item) {
								color: var(--link-color, #2a69b8);
								&:hover {
									color: var(--link-hover-color, #173a65);
								}
							}
						}
					}
					&.selected {
						> td {
							a {
								&:not(.badge):not(.btn):not(.dropdown-item) {
									color: var(--link-select-color, #efefef);
									&:hover {
										color: var(--link-select-color-hover, #ffffff);
									}
								}
							}
						}
					}
				}
			}
		}
		.page-link {
			font-weight: 700;
		}
	}
	&-title {
		&-root {
			font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
			font-size: 17px;
		}
	}
}

// Pagination
.pagination {
	.page-item {
		a.page-link {
			&,
			&:hover,
			&:focus,
			&:focus-visible {
				text-decoration: none;
				outline: unset;
				outline-offset: unset;
			}
		}
		&.active {
			a.page-link {
				color: white;
			}
		}
	}
}

// Developer
.developer {
	font-style: italic;
	font-size: .9em;
	a {
		&::before {
			display: none;
		}
	}
}

.dt-info {
	.select-info {
		display: none !important;
		.select-item {
			display: none;
			&:first-child {
				display: block;
			}
		}
	}
}

div.dt-buttons {
	button.button-collection-export {
		~ div.dt-button-collection {
			left: auto !important;
			right: 15px !important;
			min-width: auto;
			div[role=menu] {
				button.btn {
					text-align: left;
					justify-content: flex-start !important;
				}
			}
		}
	}
}

.button-collection-tools {
	flex: 1 0 auto !important;
	justify-content: flex-start !important;
}

span.dt-button-down-arrow {
	flex: 1 0 auto;
	text-align: right;
}

#food_content {
	position: relative;
	&::before {
		background-color: rgba(0, 0, 0, .3);
		border-radius: 15px;
		content: "";
		display: block;
		opacity: 0;
		outline: rgba(255, 255, 255, .5) dashed 2px;
		outline-offset: -10px;
		position: absolute;
		transition: all .3s ease;
		z-index: -200;
	}
	&.joomla_4-6 {
		&::before {
			bottom: -2em;
			left: -2em;
			right: -2em;
			top: -2em;
		}
	}
	&.joomla3{
		&::before {
			bottom: -1em;
			left: -1em;
			right: -1em;
			top: -1em;
		}
	}
	&.drophandle {
		&::before {
			opacity: 1;
			z-index: 1000;
		}
	}
}
