
AddDefaultCharset utf-8

RewriteEngine On

# Запрет индексирования
Options All -Indexes

# Назначим индексный файл
DirectoryIndex index.php

# Закроем доступ к файлам html, php, ini, txt
<FilesMatch "\.(html|php|ini|txt)">
	Order Deny,Allow
	Deny from all
</FilesMatch>
