<?xml version="1.0" encoding="utf-8" ?>
<config>
	<help key="Food:_Options"></help>
	<inlinehelp button="hide"></inlinehelp>
	<fieldset name="component" label="COM_FOOD_OPTIONS" description="COM_FOOD_OPTIONS_DESC">
		<field name="food_folders" type="text" default="" label="COM_FOOD_OPTIONS_FOLDER" description="COM_FOOD_OPTIONS_FOLDER_DESC"></field>
		<field name="food_auto_delete" type="list" default="1" label="COM_FOOD_AUTO_DELETE" description="COM_FOOD_AUTO_DELETE">
			<option value="0">COM_FOOD_NO</option>
			<option value="1">COM_FOOD_YES</option>
		</field>
		<field name="food_auto_year" type="list" default="5" label="COM_FOOD_AUTO_YEAR" description="COM_FOOD_AUTO_YEAR_DESC">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</field>
	</fieldset>
</config>