doctype xml
access(component="com_food")
	section(name="component")
		action(name="core.admin" title="JACTION_ADMIN" description="JACTION_ADMIN_COMPONENT_DESC")
		action(name="core.options" title="JACTION_OPTIONS")
		action(name="core.manage" title="JACTION_MANAGE")
