doctype html
html(lang="ru")
	head
		title
			|Компонент «ПИТАНИЕ» для Joomla
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=EmulateIE9")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="cmsmagazine" content="d8e7426ec72ad3e4ea38b09ebf01284")
		meta(name="SKYPE_TOOLBAR" content ="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
		meta(name="color-scheme" content="only light")
		meta(name="theme-color" content="#ffffff")
		meta(name="title" content="Компонент «ПИТАНИЕ» для Joomla")
		meta(name="description" content="Компонент `com_food` для Joomla CMS. Обслуживания директории `food` сайта школы. Актуально для сайтов школ РФ.")
		meta(name="keywords" content="food, com_food, component, joomla")
		meta(name="author" content="ProjectSoft")
		meta(name="og:url" content="")
		meta(property="og:type" content="website")
		meta(name="og:title" content="Компонент «ПИТАНИЕ» для Joomla")
		meta(name="og:description" content="Компонент `com_food` для Joomla CMS. Обслуживания директории `food` сайта школы. Актуально для сайтов школ РФ.")
		meta(name="twitter:card" content="summary_large_image")
		link(rel="icon" type="image/png" href="/favicon.png" sizes="256x256")
		link(rel="shortcut icon" href="/favicon.ico")
		meta(name="apple-mobile-web-app-title" content="Компонент «ПИТАНИЕ» для Joomla")
		//- link(type="text/css" rel="stylesheet" href="main.min.css?" + hash)
		style
			|:root {
			|	--pd: 15px;
			|	--mg: -15px;
			|}
			|*, *::before, *::after {
			|	box-sizing: border-box;
			|}
			|html, body {
			|	margin: 0;
			|}
			|body {
			|	display: flex;
			|	flex-direction: column;
			|	min-height: 100vh;
			|	padding-left: var(--pd);
			|}
			|body > fotter, body > header {
			|	flex: 0 0 auto;
			|	padding-left: var(--pd);
			|	padding-right: var(--pd);
			|}
			|body > footer {
			|	padding-top: var(--pd);
			|	text-align: right;
			|}
			|body > main {
			|	flex: 1 0 auto;
			|	padding-top: 30px;
			|	padding-left: var(--pd);
			|	padding-right: var(--pd);
			|	padding-bottom: 2em;
			|	transition: padding .3sease;
			|}
			|.articles {
			|	display: flex;
			|	flex-direction: row;
			|	flex-wrap: wrap;
			|	gap: 30px;
			|	justify-content: flex-start;
			|	margin-left: var(--mg);
			|	margin-right: var(--mg);
			|
			|}
			|.articles article {
			|	display: flex;
			|	flex-direction: column;
			|	padding: var(--pd);
			|	box-shadow: 0 0 5px #dcdcdc;
			|	max-width: calc(100% / 7);
			|	min-width: 263px;
			|	width: 100vw;
			|	flex: 1 0 auto;
			|}
	body
		header
			h1
				|Компонент «ПИТАНИЕ» для Joomla
			p
				|Компонент `com_food` для Joomla CMS. Обслуживания директории `food` сайта школы. Актуально для сайтов школ РФ.
		main
			h2
				|Версии
			div.articles
				article
					head
						h3
							|1.2.0
					div
						ul
							li
								|Для Joomla 3.x
								br
								a.btn(href="https://github.com/ProjectSoft-STUDIONIONS/com_food/releases/download/1.2.0/com_food-3.x.zip" download="1.2.0-com_food-3.x.zip")
									|Скачать
							li
								|Для Joomla 4.x
								br
								a.btn(href="https://github.com/ProjectSoft-STUDIONIONS/com_food/releases/download/1.2.0/com_food-4.x.zip" download="1.2.0-com_food-4.x.zip")
									|Скачать
							li
								|Для Joomla 5.x
								br
								a.btn(href="https://github.com/ProjectSoft-STUDIONIONS/com_food/releases/download/1.2.0/com_food-5.x.zip" download="1.2.0-com_food-5.x.zip")
									|Скачать
		footer
			a(href="" target="_blank")
				|ProjectSoft
			|&nbsp;&copy; 2008 - All rights reserved
